# Node
node_modules/
npm-debug.log
yarn-debug.log
yarn-error.log

# Env
.env
.env.*
!.env.example

# AWS temp
.aws/
.elasticbeanstalk/*
!.elasticbeanstalk/config.yml

# Logs
logs/
*.log

# Build artifacts
dist/
build/
tmp/
coverage/

# Archives and deployment bundles
*.zip

# OS / editor files
.DS_Store
Thumbs.db
__MACOSX/
.idea/
.vscode/
